
html{
    text-align: center;
background-color: #FFCCEE;
    color: #5A364E;
 font-family: Tahoma;
    font-size:20px;
}
        
div{
    display: inline-block;
margin-left: auto;
margin-right:auto;
margin-bottom:20px;
width: min(90%, 850px);
padding: 30px;

}
p{
    text-align: left;
    font-size: 20px;
}
.caption{
    color:rgba(90, 54, 78, 0.64);
    font-size: 18px;
    text-align: center !important;
    padding-left: 20%;
    padding-right:20%;
    margin-bottom: 40px;
}

img{
 width:100%;
    max-height:400px;
    object-fit: contain;
}
.bigimg{
    max-height:none;

}

.outline{
        outline: solid;
       outline-color: #ecb1d8; 
}


hr{
    width:78%;

    color:#ecb1d8;
    
}
.recent{
    display:inline-block;
    width:16%;
}




img:hover{
    transform: scale(1.1);
}
.hover:hover{
    transform: scale(1.1);
}
.blockimg:hover{
    pointer-events: none;
}
.donthover:hover{
    pointer-events: none;
}


.center{
    text-align: center;
}


@media (max-width:1100px) {

    html{
 /*background-color: #a1d6da;*/
 font-size: medium;
    }
   div{
    width: 90%;
    }
}
.leftblock{
    width: 45%; height:250px; overflow:clip; float:left; padding:10px;
}
.rightblock{
    width: 45%; height:250px; overflow:clip; float:right; padding:10px;
}
.blockimg{
    width:30%; float:left; margin-right:20px;
}