
html{
    text-align: center;
background-color: #FFCCEE;
    color: #5A364E;
 font-family: Tahoma;
    font-size: large;
}
        
div{
    display: inline-block;
margin-left: auto;
margin-right:auto;
margin-bottom:20px;
width: min(90%, 850px);
padding: 10px;
    outline: solid;
       outline-color: #ecb1d8; 
}

figcaption{
    color:rgba(90, 54, 78, 0.64);
}

img{
 width:100%;
    max-height:400px;
    object-fit: contain;
}
p{
    text-align: left;
    
}




hr{
    width:78%;

    color:#ecb1d8;
    
}
.recent{
    display:inline-block;
    width:auto;
}



.newstuff{

    outline: solid;
       outline-color: #ecb1d8;
}

button{
    width:auto;
    height:auto;
}
.hover:hover{
    transform: scale(1.1);
}



@media (max-width:1100px) {

    html{
 /*background-color: #a1d6da;*/
 font-size: medium;
    }
   div{
    width: 90%;
    }
}